html { 
  height: 100% 
}
      
body { 
  height: 100%; 
  margin: 0; 
  padding: 0 
}

button {
  display: block;
}
      
#sidebarWrapper { 
  height: 100%; 
  width: 20%; 
  float: left;
}

#sidebar {
  height: 100%;
  width: 100%;
  margin: 10px;
}
      
#map-canvas { 
  height: 100%; 
  width: 80%; 
  float: left;
}

#routeContainer, #routeList {
  height: 100%;
  width: 90%;
}

#routeList {
  margin-top: 10px;
}

.routeListItem {
  width: 100%;
  clear: both;
}

.removeLink {
  float: right;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}